
/* 1.样式重置 初始化 内间距和外边距 */
*{
   margin:0;
    padding: 0;
}

/* 2.去掉列表左侧的小圆点 */
ul,ol{
    list-style: none;
}

/* 3.去掉下划线 */
a{
    text-decoration: none;
}

/* 4.设置伪类  防止塌陷 和 清除浮动*/
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{

    clear: both;
}
.clearfix{
    zoom:1;
}

/* 5.设置浮动 */
.lf{
    float: left;
}
.rf{
    float: right;
}


/* 6.标题标签 */
h1,h2,h3,h4,h5,h6{

    font-size: 100%;
    font-weight: normal;
}

/* 7.文本框 去掉border 和 outline */
input{
    border: 0; 
    outline: none;
}