/*
Symmetry - Coming Soon Page
Author: AsceticDesigners
Version: 1.0
Email: md.ashiful.haque@gmail.com
*/

@charset "utf-8";

/*===================================================*/
/*
[Table Of Contents]
----------------------
  1.RESET.
  2.COMMON CUSTOM STYLE.
  3.TYPOGRAPHY.
  4.HEADER WELCOME.
  5.ABOUT US.
  6.FETURED.
  7.CONTACT US AND FOOTER
	#1.CONTACT US.
	#2.FOOTER.
  8.PRELODER.
  
*/
/*************************************************************
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
............................ RESET ......................
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  max-width: 100%;
  height: auto;
  border: none;
}

a:hover,
a:focus {
  text-decoration: none;
}
*:active, *:focus {
outline: none !important;
}


body {
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*************************************************************
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
..................... COMMON CUSTOM STYLE ....................
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*************************************************************/
body{background:#F9F9F9}
.fix {overflow: hidden;}
.float_left {float: left;}
.float_right {float: right;}
html, body{height:100%}
.scroll-btn{width:100%;}
.welcome-wrapper, .welcome-slide, .welcome-content-wrapper, .content-table, .linked-content-wrapper, .about-media-box:before, .particle-effect, .particle-effect canvas{width:100%;height:100%;}
.welcome-wrapper, .angle-links a i, .welcome-content, #count-down-wrapper ul li h2, .linked-content-wrapper, .about-media-box, .about-media-box img, .about-text h3, ul.social-icon li a, .welcome-text{position:relative}
.welcome-slide, .angle-links a, .angle-links a:before, .angle-links a.angle-link-top span, .angle-links a i, .scroll-btn, #count-down-wrapper ul li h2:before, .link-tooltip, .link-tooltip:before, .about-media-box:before, .about-text h3:before, ul.social-icon li a:before, .particle-effect, .particle-effect canvas {position:absolute}
.welcome-slide, .linked-content-wrapper, .particle-effect, .particle-effect canvas{top:0;left:0}
.subscribe-filed input#subscribe-mail::-webkit-input-placeholder {
color: #ffffff;opacity:1;letter-spacing: 2px;
}

.subscribe-filed input#subscribe-mail:-moz-placeholder { /* Firefox 18- */
color: #ffffff;opacity:1;letter-spacing: 2px;
}

.subscribe-filed input#subscribe-mail::-moz-placeholder {  /* Firefox 19+ */
color: #ffffff;opacity:1;letter-spacing: 2px;
}

.subscribe-filed input#subscribe-mail:-ms-input-placeholder {  
color: #ffffff;opacity:1;letter-spacing: 2px;
}
.form-main  .form-control::-webkit-input-placeholder {
color: #666666;opacity: 1;letter-spacing: 2px;
}

.form-main  .form-control:-moz-placeholder { /* Firefox 18- */
color: #666666;opacity: 1;letter-spacing: 2px;
}

.form-main  .form-control::-moz-placeholder {  /* Firefox 19+ */
color: #666666;opacity: 1;letter-spacing: 2px;
}

.form-main  .form-control:-ms-input-placeholder {  
color: #666666;opacity: 1;letter-spacing: 2px;
}
/*************************************************************
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
..................... TYPOGRAPHY ......................
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*************************************************************/
body{font-family: 'montserratregular', Sans-serif !important;font-size:13px;line-height:30px;color:#6f6f6f}
.welcome-text h3, .about-text h3 span{font-family: "montserratsemi_bold",sans-serif !important;
font-size: 20px;
letter-spacing: 8px;
text-transform: uppercase;}
.contact-info h4{font-family: "montserratsemi_bold",sans-serif !important;font-size:15px;}
.welcome-text h2, .footer-text h2{font-family: "andersregular",sans-serif !important;
font-size: 48px;
line-height: 52px;}
.footer-text h2{font-size: 30px;
font-weight: 700;
letter-spacing: 4px;}
#count-down-wrapper ul li h2{font-family: "montserratbold",sans-serif !important;
font-size: 36px;}
#count-down-wrapper ul li h3{font-size: 12px;text-transform: uppercase;letter-spacing: 2px;}
.subscribe-filed  #subscribe-btn, .fetured-box h5, .form-main  .button-submit #submit{font-size: 15px;font-family: 'ubuntubold', sans-serif !important;}
.section-title h2{font-family: "montserratextra_bold",sans-serif !important;
font-size: 30px;
letter-spacing: 5px;}
.section-title h2 span, .about-text h3{font-family: 'montserratbold', sans-serif !important;}
.link-tooltip {
  font-size: 13px;
  text-transform: uppercase;
}
.about-text h3, .about-text h3 span{font-size: 30px;
letter-spacing: 6px;
line-height: 60px;
text-transform: uppercase;}
.welcome-text h2, #count-down-wrapper ul li h2, .subscribe-filed  #subscribe-mail, .fetured-box h5, .form-main  .button-submit #submit, .footer-text p, .contact-info h4, .contact-info h5{letter-spacing: 2px;}
/*************************************************************
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
............................ HEADER WELCOME .................
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*************************************************************/
.welcome-area  .fp-tableCell{padding:20px 20px 0;display:block}
.fp-tableCell{padding:20px;}
.welcome-wrapper{border-bottom: 20px solid}
.welcome-slide{}
.welcome-slide, .particle-effect canvas{
-webkit-background-size: cover !important;
-moz-background-size: cover !important;
-ms-background-size: cover !important;
-o-background-size: cover !important;
background-size: cover !important;

}
.welcome-slide canvas{z-index:2}
.angle-links a{z-index:3 !important}
.linked-content .linked-content-wrapper {
  top: -162px;z-index:3 !important
}
.angle-links a{border:70px solid transparent;z-index:1}
.angle-links a:before{content:"";border:60px solid transparent;}
.angle-links a.angle-link-top{border-bottom-width: 0;
border-top-color:#debc29;
left: 50%;
margin-left: -70px;
top: 0;width:70px}
.angle-links a.angle-link-top:before{border-top-color: #1D1D1D;
bottom: -46px;
left: -60px;}
.angle-links a.angle-link-top span{bottom: 31px;
height: 36px;
left: -12px;
width: 26px;
z-index: 1;}
.angle-links a.angle-link-left{
border-right-width: 0;left:0}
.angle-links a.angle-link-left:before{border-left-color: #1d1d1d;
left: -75px;
}
.angle-links a.angle-link-right{border-right-color:#debc29;
border-left-width: 0;right:0}
.angle-links a.angle-link-right:before{border-right-color: #1d1d1d;
right: -75px;}
.angle-links a.angle-link-left, .angle-links a.angle-link-right{height: 70px;
margin-top: -70px;
top: 50%;}
.angle-links a.angle-link-left:before, .angle-links a.angle-link-right:before{top: -60px;}
.angle-links a.angle-link-left i{right: 40px;}
.angle-links a.angle-link-right i{font-size: 24px;
left: 40px;}
.angle-links a i{color: #fff;
font-size: 28px;
top: -14px;}
.angle-links a.angle-link-left span.link-tooltip{margin-left: 12px;left:-10px;-webkit-transition: left 0.5s linear 0s;transition: left 0.5s linear 0s}
.angle-links a.angle-link-left span.link-tooltip:before{left:-6px;-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);border-left: 1px solid #564c1c;}
.angle-links a.angle-link-right span.link-tooltip{margin-right: 12px;right:-10px;-webkit-transition: right 0.5s linear 0s;transition: right 0.5s linear 0s}
.angle-links a.angle-link-right span.link-tooltip:before{right: -6px;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);border-right: 1px solid #564c1c;}
.link-tooltip {
background: #1d1d1d none repeat scroll 0 0;
border: 1px solid #564c1c;
border-radius: 5px;
color: #cccccc;
display: block;
letter-spacing: 2px;
line-height: 27px;
opacity: 0;
filter: alpha(opacity=0);
padding: 6px 30px 4.5px;
text-align: center;
top: -20px;
-webkit-transition: opacity 1.2s ease-in-out 0s;
        transition: opacity 1.2s ease-in-out 0s;
visibility: hidden;
white-space: nowrap;
z-index: 1;
}
.link-tooltip:before {
  background: #1d1d1d none repeat scroll 0 0;
  border-radius: 2px;
  border-top: 1px solid #564c1c;
  content: "";
  height: 12px;
  margin-top: -5px;
  top: 50%;
  width: 12px;
}
.angle-links a:hover  span.link-tooltip, .angle-links a:focus  span.link-tooltip{opacity:1;filter: alpha(opacity=100);visibility:visible;-webkit-animation-name: fadeIn;
  animation-name: fadeIn;-webkit-animation-duration:1s;
  animation-duration: 1s;}
.angle-links a.angle-link-left:hover  span.link-tooltip, .angle-links a.angle-link-left:focus  span.link-tooltip{left:0;}
.angle-links a.angle-link-right:hover  span.link-tooltip, .angle-links a.angle-link-right:focus  span.link-tooltip{right:0;}
.welcome-content-wrapper{padding: 70px;}
.welcome-content{background: rgba(0, 0, 0, 0.30) none repeat scroll 0 0;
color: #ffffff;}
.content-table{
display: table;}
.content-table-call {
display: table-cell;
vertical-align: middle;
width: 100%;
}
.welcome-text h3 {
  margin-top: 0;
}
.welcome-text h2 {
color: #1d1d1d;
display: inline-block;
font-weight: 700;
letter-spacing: 5px;
margin: 25px 0 35px;
padding: 12px 26px 14px 35px;
  
}
.scroll-btn {
bottom: -54px;
left: 0;
}
.scroll-btn > a {
color: #ffffff;
display: inline-block;
font-size: 15px;
letter-spacing: 1px;

}
.scroll-btn > a i.scroll-arrow-down{font-size: 26px;
margin-top: 32px;}
.linked-content{-webkit-transition: height 0.6s linear 0s;transition: height 0.6s linear 0s}
.linked-content .linked-content-wrapper{-webkit-transition: top 0.8s linear 0s;transition: top 0.8s linear 0s}
#count-down-wrapper, .mailchimp{visibility:hidden;opacity:0;filter: alpha(opacity=0);-webkit-transition: opacity 0.4s ease-in-out 0s, visibility 0.6s ease-in-out 0.1s;transition: opacity 0.4s ease-in-out 0s, visibility 0.6s ease-in-out 0.1s}
.linked-content#clock{height: 130px;}
.linked-content#envelope{height:90px;}
.linked-content#clock .linked-content-wrapper{top:0;}

.linked-content#envelope .linked-content-wrapper{top: -162px;}
.linked-content#clock .linked-content-wrapper #count-down-wrapper, .linked-content#envelope .linked-content-wrapper .mailchimp{opacity:1;filter: alpha(opacity=100);visibility:visible}
#count-down-wrapper ul{margin-left:-38px;}
#count-down-wrapper ul li{border: 2px solid rgba(255, 255, 255, 0.25);
height: 130px;
margin-left: 38px;
width: 130px;}
#count-down-wrapper ul li.days-count,#count-down-wrapper ul li.hours-count{border-radius: 25px 0;} 
#count-down-wrapper ul li.minutes-count,#count-down-wrapper ul li.seconds-count{border-radius: 0 25px;} 
#count-down-wrapper ul li h2, #count-down-wrapper ul li h3{margin:0}
#count-down-wrapper ul li h2{margin-bottom: 15px;
padding: 22px 0 13px;}
#count-down-wrapper ul li h2:before{bottom: 0;
content: "";
height: 2px;
left: 50%;
margin-left: -10px;
width: 20px;}
#count-down-wrapper ul li h3{color:#ebebeb}
.subscribe-filed {
margin: 0 auto;
width: 600px;
margin-top: 30px;
}
.subscribe-filed  #subscribe-mail{background: #1d1d1d none repeat scroll 0 0;
border: medium none;
border-radius: 5px 0 0 5px;
color: #ffffff;
height: 60px;
opacity: 1;
filter: alpha(opacity=100);
padding: 0 20px;
text-align: center;
width: 370px;}

.subscribe-filed  #subscribe-btn{
border: medium none;
border-radius: 0 5px 5px 0;
color: #1d1d1d;
height: 60px;
margin-left: -3px;
padding: 18px 0;
vertical-align: -1.5px;
width: 200px;
text-align: center;}
/*************************************************************
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
............................ ABOUT US .................
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*************************************************************/
.section-title{}
.section-title h2{color: #1d1d1d;
padding: 21px 0 18px;
text-shadow: 1px 1px 2px #1d1d1d;
width: 550px;
margin: 0;}
.section-title.left-title{margin-left: -20px;}
.section-title.left-title  h2{float:left;}
.section-title.right-title{margin-right: -20px;}
.section-title.right-title  h2{float:right;}
.section-title h2 span{background: #1d1d1d none repeat scroll 0 0;
border-top: 1px solid #1d1d1d;
color: #f3cc29;text-shadow:0 0 0;
}
.section-title h2 span.right-span{margin-left:20px;padding: 18px 31px 16px}
.section-title h2 span.left-span{margin-right: 20px;padding: 18px 31px 16px}
.about-row{-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;}
.about-text {
padding-top: 100px;
padding-right: 15px;
}
.about-text h3{color: #1d1d1d;
margin: 0 0 35px;
padding-bottom: 20px;}
.about-text h3:before{
bottom: 0;
content: "";
height: 3px;
left: 50%;
margin-left: 48px;
width: 388px;
z-index: 2;}

.about-media-box{
display: inline-block;}
.about-media-box img{
right: 25px;
top: 25px;}
.about-media-box:before{background: rgba(29, 29, 29, 0.1) none repeat scroll 0 0;
content: "";
display: block;
height: 100%;
right: 50px;
top: 50px;
width: 100%;
z-index: 1;}
/*************************************************************
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
............................ FETURED .................
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*************************************************************/
.fetured-box {
background: #ffffff none repeat scroll 0 0;
border: 8px solid #f1f1f1;
padding: 35px;
}
.fetured-box h5{color: #2c3e50;
margin: 35px 0 30px;-webkit-transition: color 0.3s ease 0s;transition: color 0.3s ease 0s}
.st-margin-bottom{margin-bottom:70px}
.fetured-box p{margin: 15px 0 0;}
.fetured-box span.fetured-icon{color: #2c3e50;
font-size: 40px;}
.fetured-box h5, .fetured-box p, .fetured-box span.fetured-icon{-webkit-transition: color 0.3s ease 0s;transition: color 0.3s ease 0s}
.row-padding-bottom {padding-bottom: 30px;}
.single-fetured.active .fetured-box{-webkit-transition: background 0.3s ease 0s, border 0.3s ease 0s;transition: background 0.3s ease 0s, border 0.3s ease 0s}
.single-fetured.active .fetured-box h5, .single-fetured.active  .fetured-box span.fetured-icon{color:#1d1d1d}
.single-fetured.active .fetured-box p{color:#2c3e50}
/*************************************************************
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
..................... CONTACT US AND FOOTER ..........
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*************************************************************/

/*======================== CONTACT US ========================*/
.contact-info span.icon{background: #f3cc29 none repeat scroll 0 0;
border: 5px solid;
color: #1d1d1d;
float: left;
font-size: 28px;
height: 94px;
margin-right: 19px;
padding-top: 28px;
text-align: center;
width: 94px;}
.contact-info h4{border-bottom: 2px solid #a7acb1;
color: #2c3e50;
display: inline-block;
margin-bottom: 5px;}
.info-text > h5 {
margin: 13px 0 0;
}
.form-main{margin-top:65px}
.form-main  .form-control{border: 1px solid #d1d1d1;
border-radius: 0;
color: #666666;
height: 60px;
opacity: 1;
filter: alpha(opacity=100);
padding: 0 30px;}
.form-main  #message.form-control{height: 200px;
margin-top: 10px;
padding-top: 30px;}
.form-main  .form-control:focus{box-shadow:0 0 0;border:1px solid}
.form-main  .button-submit #submit{border-radius: 0;
color: #1d1d1d;
display: block;
margin-top: 5px;
opacity: 1;
filter: alpha(opacity=100);
padding: 23px 0 18px;
-webkit-transition: background 0.3s ease 0s;
        transition: background 0.3s ease 0s;
width: 100%;}

/*======================== FOOTER ========================*/
.footer-content-wrapper{background:url(img/footer-bg.jpg) no-repeat scroll center center;background-size:cover;border-bottom: 20px solid;
margin-top: 90px;
padding: 50px 0;-webkit-background-size:cover;-moz-background-size:cover;-ms-background-size:cover;-o-background-size:cover;background-size:cover;}
ul.social-icon{margin-left: -10px;
margin-top: 38px;}
ul.social-icon li{}
ul.social-icon li a{
display: inline-block;
font-size: 19px;
height: 42px;
margin-left: 10px;
padding: 4px 0;
text-align: center;
-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
width: 42px;-webkit-transition: color 0.3s ease;transition: color 0.3s ease}
ul.social-icon li a:before{
content: "";
height: 80%;
left: 10%;
top: 10%;
width: 80%;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);opacity:0;filter: alpha(opacity=0);visibility:hidden;-webkit-transition: all 0.3s ease-in;transition: all 0.3s ease-in}
ul.social-icon li a:hover{color:#1D1D1D}
ul.social-icon li a:hover:before{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;filter: alpha(opacity=100);visibility:visible;}
ul.social-icon li a i{-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.footer-text h2{margin-bottom: 0;}
.footer-text p{color:#fff}
/*************************************************************
--------------------------------------------------------------
..................... PRELODER .................
--------------------------------------------------------------
*************************************************************/
body.preloder_priview{overflow:hidden}
#loader-wrapper {
background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
height: 100%;
left: 0;
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}